* {
    margin: 0;
}

.container {
    /* viewport width. Viewport = visible part of browser window */
    width: 100vw;
    /* viewport height */
    height: 100vh;
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr) 200px;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    "header     header  header"
    "left-menu  main    right-menu"
    "footer     footer  footer";
    gap: 15px
}

.header {
    grid-area: header;
    background-color: #ffcc0070;
}

.left-menu {
    grid-area: left-menu;
    background-color: #ff000070;
}

.main {
    display: grid;
    grid-area: main;
    background-color: #00ff0070;
    /* place-content: center; Alternative approach*/
}

.main > h1 {
    place-self: center;
}

.right-menu {
    grid-area: right-menu;
    background-color: #ff00ff70;
}

.footer {
    grid-area: footer;
    background-color: #00aaff70;
}