/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.container {
  gap: 10px;
}

.container > .box {
  gap: 10px;
}

.two-column-grid__expand-two {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.five-column-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.center-grid {
  display: grid;
  grid-template-columns: 300px;
  place-content: center;
}

.grid-in-grid-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-in-grid-1 > div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-in-grid-1 > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-in-grid-2 {
  display: grid;
  grid-template-columns: 100px 1fr 300px;
}

.grid-in-grid-2 > div:nth-of-type(3) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-madness {
  display: grid;
  grid-template-columns: 100px 1fr 200px;
}

/* last box -> first cell */
.grid-madness > .box:nth-of-type(5) {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: 50px repeat(4, 125px);
}
/* third inner box -> first cell */
.grid-madness > .box:nth-of-type(5) > .inner-box:nth-of-type(3) {
  grid-column: 1;
  grid-row: 1;
}

/* third box -> second cell */
.grid-madness > .box:nth-of-type(3) {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  grid-template-rows: repeat(3, 50px);
}

/* fourth box -> third cell */
.grid-madness > .box:nth-of-type(4) {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  gap: 0px;
}
.inner-box {
  display: grid;
  place-items: start;
}

/* second box -> fourth cell */
.grid-madness > .box:nth-of-type(2) {
  display: grid;
  grid-template-rows: .75fr;
}

/* first box -> last cell */
.grid-madness > .box:nth-of-type(1) {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: repeat(2, 125px) 50px;
  justify-content: end;
}
/* second inner box -> last cell */
.grid-madness > .box:nth-of-type(1) > .inner-box:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1;
}